

<br><br><br>

<div  layout="column" ng-cloak class="md-inline-form">
    <div>
        <md-input-container>
            <label>Enter Todo</label>
            <input name="todoText" type="text" ng-model="CreateVM.todo.todoText">
        </md-input-container>

    <md-content  layout-padding ng-cloak>
        <div layout-gt-xs="row">
            <div flex-gt-xs>
                <h4>Enter complete by date:</h4>
                <!-- Datepicker set to  -->
                <md-datepicker ng-model="CreateVM.todo.completeBy" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
    </md-content>
    <div>

        <md-button class="md-raised md-primary" type="button" value="Save" ng-click="CreateVM.addTodo()">Submit</md-button>
      </div>

</div> <!-- end of ng-controller="createCtrl" -->

