<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="List" ui-sref="list">
                <md-content class="md-padding">
               
                </md-content>
            </md-tab>
            
            <md-tab label="Create" ui-sref="create">
                <md-content class="md-padding">
              
                </md-content>
            </md-tab>
            
            <md-tab label="Completed" ui-sref="completed">
                <md-content class="md-padding">
             
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>